
.button:disabled, .button:hover:disabled {
    opacity: 0.5;
    cursor: default;
    background-color: rgb(35, 31, 32);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.button {
    text-align: center;

    line-height: 2.75rem;
    min-width: 180px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    cursor: pointer;
    padding-bottom: 0px;
    padding-top: 0.125rem;
    text-align: center;
    font-family: "Josefin Sans";
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 1230px;
    left: 32%;

    margin-top: 20px;
    background-color: rgb(35, 31, 32);
    text-transform: uppercase;
    display: block !important;
    width: 40% !important;
    border-radius: 2px;
    transition: background-color 0.1s ease-out 0s, color, border-color;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(35, 31, 32);
}


.button2:disabled, .button:hover:disabled {
    opacity: 0.5;
    cursor: default;
    background-color: rgb(35, 31, 32);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.button2{
    text-align: center;
    line-height: 2.75rem;
    min-width: 180px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    cursor: pointer;
    padding-bottom: 0px;
    padding-top: 0.125rem;
    text-align: center;
    font-family: "Josefin Sans";
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    /*top: 1640px;*/
    /*left: 30%;*/

    top: 1440px;
    left: 32%;

    margin-top: 20px;
    background-color: rgb(35, 31, 32);
    text-transform: uppercase;
    display: block !important;
    width: 40% !important;
    border-radius: 2px;
    transition: background-color 0.1s ease-out 0s, color, border-color;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(35, 31, 32);
}