body{
    margin: 0;
    padding: 0;
    font-family: 'Parisienne', cursive;
    background-color: #f8f8f8;
    background-blend-mode: lighten;
}

.nav{
    background-color: whitesmoke;
    color: #050404;
    list-style: none;
    text-align: right;
    padding: 20px 0 10px 0;
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 30px;
}

.nav > li > a{
    text-decoration: none;
    color: black;
}

.nav > li > a:hover {
    color:rgb(174, 30, 30);
}

.banner{
    width: 100%;
    display: block;
}

.banner > .banner-image{
    border-top: 15px solid rgb(201, 198, 198);
    border-radius: 10px;
    border-bottom: 15px solid rgb(201, 198, 198);

    width: 100%;
    display: block;
    opacity: .7;
}

.banner1{
    width: 50%;
    display: block;
}

.banner1 > .flower-image1{
    width: 50%;
    display: block;
    /* height: 700px; */
    position: absolute;
    left: 0px;
}

.banner2{
    width: 50%;
    display: block;
}

.banner2 > .flower-image2{
    width: 50%;
    display: block;
    /* height: 700px; */
    position: absolute;
    right: 0px;
}

.bedBathAndBeyond-logo{
    width: 30%;
    height: auto;
    display: block;
    position:absolute;
    top: 23%;
    right: 10%;
    transform: translate(-0%, -0%);
}

.amazon-logo{
    width: 50%;
    height: auto;
    display: block;
    position:absolute;
    top: 50%;
    right: 0%;
    transform: translate(-0%, -0%);

}

.registry_flowers {
    display: block;

    position: absolute;
    left: 0px;
    top: 6%
}
