
.nav{
    background-color: whitesmoke;
    color: #050404;
    list-style: none;
    text-align: right;
    padding: 20px 0 10px 0;
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 30px;
}

.nav > li > a{
    text-decoration: none;
    color: black;
}

.nav > li > a:hover {
    color:rgb(174, 30, 30);
}

body {
    margin: 0;
    padding: 0;
    background-image: url(/Frontend/src/images/bridalLoginBackground.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Parisienne', cursive;
}

.loginBox {
    width: 300px;
    height: 320px;
    background: #000;
    color: whitesmoke;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 0 30px;
}

h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginBox input{
    width: 200px;
    margin-bottom: 20px;
}

.loginBox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 14px;
}

.loginBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: rgba(157, 123, 65, 0.865);
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
}

.loginBox input[type="submit"]:hover{
    cursor: pointer;
    background: rgba(64, 50, 26, 0.865);
}

.loginBox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;

}
